@import "@Styles/var.scss";

.todo-list-comp {
    flex: 1;
    position: relative;
    overflow: hidden;

    .todo-list-section {
        background: $white;
        display: flex;
        flex-direction: column;

        .title-text-box {
            padding: 20px 20px;
            border-bottom: solid 1px lighten($gray, 82);
            margin: 0 0 4px 0;
            
            .title-text {
                padding: 0 6px 6px 3px;
                border-bottom: solid 2px $primary;
            }
        }
    }
}
